  <div class="container">
	<div class="row">
		<div class="col-md-11">
			<%= flash[:notice] %>
			<table class="table">
				<thead>
				    <tr>
				      <th scope="col">画像</th>
				      <th scope="col">タイトル</th>
				      <th scope="col">本文</th>
				      <th scope="col">場所</th>
				    </tr>
				</thead>
				<tbody>
					<% @posts.each do |post| %>
					<tr>
					  <td>
					    <%= link_to post_path(post.id) do %>
						  <%= attachment_image_tag post, :image, :fill, 200, 90 %>
					    <% end %>
					  </td>
					  <td><%= link_to post.title , post_path(post.id) %></td>
					  <td class="s"><%= post.caption %></td>
					  <td>
					  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					  <%= post.place %>
					</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
  </div>
